# Binaire compilé
/kytena
/bin/
# Trivy cache & DB
**/trivy.db
**/fanal.db
**/metadata.json
**/trivy-java.db

# Cache directory (si tu utilises un répertoire dédié)
.trivy-cache/
# Répertoire de données locales (KnownRisks YAML)
data/

# Fichiers de logs
logs/

# Répertoires temporaires
tmp/
*.tmp

# Fichiers Go spécifiques
*.out
*.test

# Fichiers système / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Fichiers de configuration utilisateur
.env
*.local
